%h3 Welcome #{current_admin.username}
- content_for :head do
  :javascript
    $(document).ready(function(){
      $("#add_admin_button").fancybox();
    });
- form_tag update_signups_admin_index_path do
  - if AdminSettings.reg_open?
    = submit_tag(value = "Close Registration")
    = hidden_field_tag("reg", "close")
  - else
    = submit_tag(value = "Open Registration", :name=> "open")
    = hidden_field_tag("reg","open")
    /%h5 Invites
    %br
    %br
    = link_to "Invite another user", new_admin_invitation_path, :class => "invite_user_button", :title => "Invite a friend"
