
%h1 Welcome Admin
- content_for :head do
  :javascript
    $(document).ready(function(){
      $("#add_admin_button").fancybox();
    });
- form_tag update_signups_admin_index_path do
  - if AdminSettings.reg_open?
    = submit_tag(value = "Close Registration")
    = hidden_field_tag("reg", "close")
  - else
    = submit_tag(value = "Open Registration", :name=> "open")
    = hidden_field_tag("reg","open")

%h4 
= link_to "Invite a friend!", "new", :class => "invite_user_button", :title => "Invite a friend"






  










>>>>>>> added a link 'Invite a friend!'on the admin home page which redirects to admin/new
